$fonte-hepta: 'Hepta Slab', Helvetica, Arial;
$fonte-lato: 'Lato',Helvetica,Arial;

//Cores

$bg-gray: #EEE;

$primary-color: #C00A27;
$secondary_color: #F96666;

$black: #000;
$white: #fff;
$gray: #999;
$dark-gray: #555;
$yellow: #FFB100;


$facebook-color : #3b5998;
$whatsapp-color: #25D366;
$instagram-color: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);

